<CascadingValue Value="this">
    <div class="tabs-header">
        <ul>
            @ChildContent
        </ul>
    </div>
</CascadingValue>
<div class="tabs-content ">
    <div>
        @ActiveTab?.ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TabPage ActiveTab { get; private set; }

    public void ActivateTab(TabPage tab)
    {
        ActiveTab = tab;
        StateHasChanged();
    }
}