@inherits BasePanel

<div class="cpanel widget">
    <div data-part="header" @onclick="@ToggleClicked" class="widget-header">
        <div data-part="toolbar" class="widget-toolbar">
            <div class="widget-toolbar-icon">
                <span class="fa @ToggleClass"></span>
            </div>
        </div>
        <div class="widget-caption">
            <span class="widget-title">@Title</span>
        </div>
    </div>
@if(!Collapsed)
{
    <div>
        <div class="widget-body">
            @ChildContent
        </div>
    </div>
}
</div>

@code {
    protected string ToggleClass => Collapsed ? "fa-chevron-down" : "fa-chevron-up";
}